@tailwind base;
@tailwind components;
@tailwind utilities;

  /* .dark{
    color: #cccccc;
    background-color: #121212;
   
  }
  .dark.navbar{
    background-color: white;
  }
  .light{
    background-color: #FCF7F4;
  } */
  @media only screen and (max-width: 800px) and (min-width: 400px)  {

    
  }